/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap/dist/css/bootstrap.min.css";


.error {
	color: red;
}


/* Transitions for animations will be placed here */

/* slide-right */

.slide-right-enter {
	transform: translateX(-100%);
	opacity: 0;
}

.slide-right-enter-active {
	transform: none;
	opacity: 1;
	transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.slide-right-enter-done {
	transform: none;
	opacity: 1;
}

.slide-right-exit {
	transform: none;
}
.slide-right-exit-active {
	transform: translateX(-100%);
	transition: all 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.slide-right-exit-done {
	transform: translateX(-100%);
}


/*fade for object entering/leaving completely*/

.complete-fade-enter {
	opacity: 0;
}

.complete-fade-enter-active {
	opacity: 1;
	transition: opacity 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.complete-fade-enter-done {
	opacity: 1;
}

.complete-fade-exit {
	opacity: 1;
}

.complete-fade-exit-active {
	opacity: 0;
	transition: opacity 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.complete-fade-exit-done {
	opacity: 0;
}






/*fade for page transitions for restaurant wizard*/

.page-change-enter {
	opacity: 0;
}

.page-change-enter-active {
	opacity: 1;
	transition: opacity 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.page-change-enter-done {
	opacity: 1;
}

.page-change-exit {
	opacity: 1;
}

.page-change-exit-active {
	opacity: 0;
	transition: opacity 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.page-change-exit-done {
	opacity: 0;
}
